@font-face {
	font-family: Oswald;
	src: url('../fontes/Oswald/Oswald-Medium.ttf') format('opentype');
}
body{
    margin: 0px;
    background-color: antiquewhite;
}

#cabecalho {
	font-family: Oswald;
	padding: 10 10 10 10;
	text-align: center;
	color: white;
	background-color: #050505;
}

.corpoUm {
	font-family: Oswald;
	margin-left: 10vh;
	margin-right: 10vh;
	background-color: black;
	color: white;

}

section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

article {
	width: 25vh;
	height: 35vh;
	background-color: white;
	margin: 2vw;
	border-radius: 15%;
	text-align: center;
    margin-left: 15vh;
}
#hotCoffee img{
    width: 35vh;
    margin-left: -4vh;
}